# Discord Bot Configuration
DISCORD_TOKEN=MTM5NDgwNzA5MDczMTY4NDAwNA.GZbqQe.ZBksS_dKVwUfaTSIhz9sBVcHcSGdMQyI6hXZL4
DISCORD_CLIENT_ID=1394807090731684004
DISCORD_GUILD_ID=1255652843323527228

# Bot Configuration
ADMIN_ROLE_ID=
SPAWN_CHANNEL_ID=